body {
    height: 100vh;
    animation: change-bgc 3s alternate infinite linear;
    text-align: center;
    font-size: 25px;
}

button {
    padding: 10px;
}

button:hover {
    color: white;
    background-color: black;

}

@keyframes change-bgc {
    0% {
        background-color: red;
    }
    20% {
        background-color: orangered;
    }
    40% {
        background-color: yellow;
    }
    60% {
        background-color: green;
    }
    80% {
        background-color: royalblue;
    }
    100% {
        background-color: indigo;
    }
}
